<plugin name='openni' version='0.1' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>kimukou.buzz</author>
  <authorEmail>kimukou.buzz@gmail.com</authorEmail>
  <title>OpenNI Plguin</title>
  <description>Griffon based simple-openni</description>
  <documentation>http://griffon.codehaus.org/Openni+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <platforms>linux,windows,windows64,macosx</platforms>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='jogl-compat' version='0.1' />
    <plugin name='processing' version='0.4' />
  </dependencies>
</plugin>